<footer>
<p>
&copy; <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time> <b>{{ site.author.name }}</b> &mdash; Ask Karin is developed by <a href="https://github.com/Varulv1997">Anas Gamrani</a> <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="#343239" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-code"><polyline points="16 18 22 12 16 6"></polyline><polyline points="8 6 2 12 8 18"></polyline></svg>
</p>
</footer>